div.skills_container {
    width: 100%; 
    padding-left: 1.25rem;
    padding-right: 1.25rem; 
    padding-top: 2.5rem;
    padding-bottom: 2.5rem; 
}

div.skills_centertext {
    margin-bottom: 5rem; 
    text-align: center; 
}

svg.skills_chipicon {
    display: inline-block; 
    margin-bottom: 1rem; 
    width: 2.5rem; 
}

h1.skills_h1 {
    margin-bottom: 1rem; 
    color: #ffffff; 
    font-size: 1.875rem;
    line-height: 2.25rem; 
    font-weight: 500; 
}

@media (min-width: 640px) { 
    h1.skills_h1 {
        font-size: 2.25rem;
        line-height: 2.5rem; 
    }
}

p.skills_textbase {
    font-size: 1rem;
    line-height: 1.5rem; 
    line-height: 1.625; 
}
    
@media (min-width: 1024px) { 
    p.skills_textbase {
        width: 75%; 
    }
}

@media (min-width: 1280px) { 
    p.skills_textbase {
        width: 50%; 
    }    
}

div.skills_flex {
    display: flex; 
    margin-left: -0.5rem;
    margin-right: -0.5rem; 
    flex-wrap: wrap; 
}

@media (min-width: 640px) { 
    div.skills_flex {
        margin-bottom: 0.5rem; 
    }
}
    
@media (min-width: 1024px) { 
    div.skills_flex {
        width: 80%; 
    }
}

div.skills_skill {
    padding: 0.5rem; 
    width: 100%; 
}

@media (min-width: 640px) { 
    div.skills_skill {
        width: 50%; 
    }
}

div.skills_skillicon {
    display: flex; 
    padding: 1rem; 
    background-color: #1F2937; 
    align-items: center; 
    height: 100%; 
    border-radius: 0.25rem; 
}

svg.skills_badgecheckicon {
    margin-right: 1rem; 
    color: #34D399; 
    flex-shrink: 0; 
    width: 1.5rem; 
    height: 1.5rem; 
}

span.skills_skilltext {
    color: #ffffff; 
    font-weight: 500; 
    
}