div.container {
    width: 100%; 
    display: flex; 
    padding-left: 2.5rem;
    padding-right: 2.5rem; 
    padding-top: 5rem;
    padding-bottom: 5rem; 
    flex-direction: column; 
    align-items: center; 
}
 
@media (min-width: 768px) { 
    div.container {
        flex-direction: row; 
    }
}

div.flex {
    display: flex; 
    margin-bottom: 4rem; 
    text-align: center; 
    flex-direction: column; 
    align-items: center; 
}

@media (min-width: 768px) { 
    div.flex {
        padding-right: 4rem; 
        margin-bottom: 0; 
        text-align: left; 
        align-items: flex-start; 
        width: 50%; 
    }
}

@media (min-width: 1024px) { 
    div.flex {
        padding-right: 6rem; 
        flex-grow: 1; 
    }
}

h1.h1_about {
    margin-bottom: 1rem; 
    color: #ffffff; 
    font-size: 1.875rem;
    line-height: 2.25rem; 
    font-weight: 500; 
}

@media (min-width: 640px) { 
    h1.h1_about {
        font-size: 2.25rem;
        line-height: 2.5rem; 
    }
}

br.hidden{
    display: none; 
}

@media (min-width: 1024px) { 
    br.hidden {
        display: inline-block; 
    }
}

p.about_me {
    margin-bottom: 2rem; 
    line-height: 1.625; 
}

div.flex_center {
    display: flex; 
    justify-content: center; 
}

a.link_contact{
    display: inline-flex; 
    padding-top: 0.5rem;
    padding-bottom: 0.5rem; 
    padding-left: 1.5rem;
    padding-right: 1.5rem; 
    background-color: #10B981; 
    color: #ffffff; 
    font-size: 1.125rem;
    line-height: 1.75rem; 
    border-radius: 0.25rem; 
    border-width: 0; 
}

a.link_contact:hover {
    background-color: #059669; 
}

a.link_projects {
    display: inline-flex; 
    padding-top: 0.5rem;
    padding-bottom: 0.5rem; 
    padding-left: 1.5rem;
    padding-right: 1.5rem; 
    margin-left: 1rem; 
    background-color: #1F2937; 
    color: #9CA3AF; 
    font-size: 1.125rem;
    line-height: 1.75rem; 
    border-radius: 0.25rem; 
    border-width: 0; 
}

a.link_projects:hover {
    background-color: #374151; 
    color: #ffffff; 
}

div.coding_icon {
    width: 83.333333%; 
}

@media (min-width: 768px) { 
    div.coding_icon {
        width: 50%; 
    }
}

@media (min-width: 1024px) {
    div.coding_icon { 
        width: 100%; 
        max-width: 32rem;
    }
}

img.coding {
    object-fit: cover; 
    object-position: center; 
    border-radius: 0.25rem;    
}